# ========================
# PROTIUM GITIGNORE
# ========================

# ===== 通用忽略 =====
.DS_Store
._*
Thumbs.db
*.log
*.tmp
*.bak
*.swp
**/tmp/

# ===== 系统文件 =====
# Windows
[Tt]humbs.db
Desktop.ini
*.lnk

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# ===== Python 项目 =====
# Django 相关
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class
*.py.orig
*.pyc.stale
*.egg-info/
*.sqlite3
venv/
.venv/
.python-version
.mypy_cache
celerybeat-schedule
**/media/
**/static/

# ===== Node.js 项目 =====
node_modules/
.npm
.eslintcache
.next/
out/
dist/
.serverless/
.next-server/
.nuxt/
.cache/

# ===== Next.js 项目 =====
next-env.d.ts

# ===== 开发环境配置 =====
.env
**.env.*
!.env.example

# ===== 包管理器 =====
package-lock.json
pnpm-lock.yaml
yarn-error.log
.pnp.*
.pnp.js
.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/install-state.gz
.yarn/versions/

# ===== 构建产物 =====
build/
public/static/
public/build/
.next/
out/
dist/
tsconfig.tsbuildinfo*
*.dll
*.exe
*.bin
*.app
*.dmg

# ===== 编辑器配置 =====
.idea/
.vscode/*
!.vscode/settings.example.json
!.vscode/extensions.example.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ===== 数据库文件 =====
*.db
*.sqlite
*.sql
/db.sqlite3
!bak.db

# ===== 测试相关 =====
coverage/
.nyc_output/
*.lcov
/test-reports/
.temp/

# ===== 容器化配置 =====
docker-compose.yml
docker-compose.override.yml
/helm/

# ===== 证书文件 =====
*.certs/
*.pem
*.crt
*.key
*.cer
*.pfx

# ===== 特殊文件 =====
!.gitkeep
!.keep
!.placeholder
