repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: [--config=service/pyproject.toml, --fix]
        files: ^service/
      - id: ruff-format
        args: [--config=service/pyproject.toml]
        files: ^service/

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright
        args:
          - --project=service/pyproject.toml
        files: ^service/
        entry: bash -c 'cd service && uv run --active pyright .'
