.markdown {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-feature-settings:
    "lnum" 1,
    "tnum" 1;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 400;
  margin-top: 1rem;
  font-family: inherit;

  img {
    margin: 1rem 0 1.5rem 0;
    max-width: 100%;
    border: rgba(139, 139, 139, 0.2) 1px solid;
    border-radius: 0.5rem;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.08);
    display: block;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.25;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1em;
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 24px 0;
    background-color: #eaecef;
    border: 0;
  }

  p {
    margin-top: 1.5rem;
    line-height: 1.6;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: rgb(113, 141, 255);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
  }

  a img {
    margin: 0;
    vertical-align: middle;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: rgb(113, 141, 255);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }

  a:not(:has(img)):hover::before {
    transform: translateX(-50%) scaleX(1);
  }

  ol {
    list-style: decimal;
    padding-top: 1rem;
    padding-left: 1.5rem;

    li {
      margin-top: 0.25rem;
      list-style: decimal;
      padding-block: 0.25rem;
    }
  }

  ul {
    list-style: disc;
    padding-top: 1rem;
    padding-left: 1.5rem;

    li {
      margin-top: 0.25rem;
      list-style: disc;
      padding-block: 0.25rem;
    }
  }

  code {
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    padding: 2px 4px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #f0f0f0;
    border-radius: 3px;
    color: #000;
  }

  /* 代码块第一行有一个奇怪的缩进 */
  code > span:first-child {
    margin-left: -4px;
  }

  code:hover {
    background-color: #4c6ef5;
    color: #fff;
  }

  table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 16px;

    tr {
      border-top: 1px solid #d8dee4;

      /* &:nth-child(2n) {
        background-color: #f6f8fa;
      } */
    }

    th {
      font-weight: 600;
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #d0d7de;
    }
  }
}
